@font-face {
    font-family:"A_Bug_s_Life-Debugged";
    src: url("../fonts/a_bugs_life/A_Bug_s_Life-Debugged.ttf");
}
@font-face {
    font-family:"A_Bug_s_Life" ;
    src: url("../fonts/a_bugs_life/A_Bug_s_Life.ttf");
}

*{
    padding: 0;
    margin: 0;
    font-family:"A_Bug_s_Life";
}
.Final{
    background-image: url("../img/vida-de-inseto-garotas-geeks-02.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150%;
    color: #EDAE45;
    font-size: 22px;
    text-align: center;
}
