*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../img/fundo-introducao.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.box-introducao{
    position:relative;
    top:50px;
    padding: 22px;
    display: block;
    width: 850px;
    height: 300px;
    background-color: #EDAE45;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow:  13px 13px 5px #000;
    opacity: 0.8;
}
.box-introducao h1{
    text-align: center;
    margin-bottom:30px;
    font-size: 45px;
}
.box-introducao p{
    font-size: 19px;
}
.box-personagens-container{
    display:flex;
    flex-direction: column;
    position:relative;
    top:80px;

}
.box-personagens-container h1{
    text-align: center;
    width: 400px;
    padding: 10px;
    background-color: #222;
    color: #EDAE45;
    display:inline-block;
    margin: 50px auto;
    border-radius: 10px;
}
.conteudo-personagem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.conteudo-personagem .box-bonecos{
    flex-basis: calc(100% / 3 - 20);
    width: 260px;
    height: 242px;
    padding: 20px;

}
.conteudo-personagem .box-bonecos a img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: width 1s, height 1s;
}
.conteudo-personagem .box-bonecos img:hover{
    width: 130%;
    height: 130%;

}
.box-bonecos button{
    color: #EDAE45;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 150px;
    margin: 0 auto;
}
